{% extends "base.html" %}

{% block mainBody %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/service/index">CI/CD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service/settings">设置</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-light" onclick="logOut()">注销</button>
            </div>
        </div>
    </nav>
    {% block indexBody %}
    {% endblock %}
{% endblock %}

{% block jsBock %}
    <script>
        function logOut() {
            sessionStorage.clear()
            window.location.href = "/service/login"
        }
    </script>
{% endblock %}