{% extends "index.html" %}

{% block indexBody %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">配置名</th>
            <th scope="col">配置内容</th>
            <th scope="col">启用?</th>
        </tr>
        </thead>
        <tbody id="app">
        </tbody>
    </table>
{% endblock %}

{% block jsBock %}
    <script>
        window.onload = function () {
            fetch("/service/api-settings", {
                headers: {
                    "Authorization": "Bearer " + sessionStorage.getItem("token")
                }
            }).then(response => response.json()).then(data => {
                if (data.code === 1) {
                    let table = document.querySelector("#app")
                    data.result.forEach((e) => {
                        table.appendChild(renderTr(e))
                    })
                } else {
                    alert(data.result)
                }
            })
        }

        function renderTr(item) {
            const name = item["name"]

            let domTr = document.createElement("tr")

            let thId = document.createElement("th")
            thId.setAttribute("scope", "row")
            thId.innerText = item["id"]
            domTr.appendChild(thId)

            let tdName = document.createElement("td")
            tdName.innerText = name
            domTr.appendChild(tdName)

            let tdValue = document.createElement("td")
            let valueInputDom = document.createElement("input")
            valueInputDom.type = "text"
            valueInputDom.classList.add("form-control")
            valueInputDom.value = item["value"]
            valueInputDom.addEventListener("change", function (ev) {
                changeValue(name, "value", ev.target.value)
            })
            tdValue.appendChild(valueInputDom)
            domTr.appendChild(tdValue)

            let tdActive = document.createElement("td")
            let divDom = document.createElement("div")
            divDom.classList.add("form-check", "form-switch")
            let switchDom = document.createElement("input")
            switchDom.id = name
            switchDom.classList.add("form-check-input")
            switchDom.type = "checkbox"
            switchDom.setAttribute("role", "switch")
            switchDom.checked = item["active"]
            switchDom.addEventListener("change", function (ev) {
                changeValue(name, "active", ev.target.checked)
            })
            divDom.appendChild(switchDom)
            tdActive.appendChild(divDom)
            domTr.appendChild(tdActive)

            return domTr
        }

        function changeValue(name, field, value) {
            fetch("/service/api-change-setting", {
                method: "POST",
                headers: {"Authorization": `Bearer ${sessionStorage.getItem("token")}`},
                body: JSON.stringify({
                    name: name,
                    field: field,
                    value: value
                })
            }).then(response => response.json()).then(data => {
                if (data.code !== 1) {
                    alert(data.result)
                }
            })
        }

    </script>
{% endblock %}