{% extends "index.html" %}

{% block indexBody %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">配置名</th>
            <th scope="col">配置内容</th>
            <th scope="col">启用?</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody id="app">
        </tbody>
    </table>
{% endblock %}

{% block jsBock %}
    <script>
        window.onload = function () {
            fetch("/service/api-settings", {
                headers: {
                    "Authorization": "Bearer " + sessionStorage.getItem("token")
                }
            }).then(response => response.json()).then(data => {
                if (data.code === 1) {
                    let table = document.querySelector("#app")
                    data.result.forEach((e) => {
                        table.appendChild(renderTr(e))
                    })
                } else {
                    alert(data.result)
                }
            })
        }

        function renderTr(item) {
            let domTr = document.createElement("tr")

            let thId = document.createElement("th")
            thId.setAttribute("scope", "row")
            thId.innerText = item["id"]
            domTr.appendChild(thId)

            let tdName = document.createElement("td")
            tdName.innerHTML = `<input type="text" class="form-control" value="${item['name']}" />`
            domTr.appendChild(tdName)

            let tdDataType = document.createElement("td")
            let selectComponent = document.createElement("select")
            selectComponent.classList.add("form-select")
            selectComponent.innerHTML = `
            <option value="string">字符串</option>
            <option value="int">整型</option>
            <option value="float">浮点型</option>
            <option value="bool">布尔值</option>
            `
            selectComponent.value = item["data_type"]
            tdDataType.appendChild(selectComponent)
            domTr.appendChild(tdDataType)

            let tdValue = document.createElement("td")
            tdValue.innerHTML = `<input type="text" class="form-control" value="${item['value']}" />`
            domTr.appendChild(tdValue)

            let tdActive = document.createElement("td")
            let divDom = document.createElement("div")
            divDom.classList.add("form-check", "form-switch")
            let switchDom = document.createElement("input")
            switchDom.classList.add("form-check-input")
            switchDom.type = "checkbox"
            switchDom.setAttribute("role", "switch")
            switchDom.checked = item["active"]
            console.log(item["active"])
            divDom.appendChild(switchDom)
            tdActive.appendChild(divDom)
            domTr.appendChild(tdActive)

            let tdAction = document.createElement("td")
            tdAction.innerHTML = ""
            domTr.appendChild(tdAction)

            return domTr
        }

    </script>
{% endblock %}